.two-column-header-text-inner {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
   .two-column-header-text-inner {
	  grid-template-columns: 1fr;
   }
}

.two-column-header-text-inner .headline-wrapper h2 {
   font-size: var(--font-size-largest);
   color: var(--color-theme-primary);
   font-family: var(--secondary-font-family);
   line-height: 1;
   text-transform: uppercase;
   word-break: break-word;
   font-weight: 600;
}

@media (max-width: 768px) {
   .two-column-header-text-inner .headline-wrapper h2 {
	  font-size: var(--font-size-mobile-larger);
	  line-height: 0.9;
   }
}


.two-column-header-text-inner .text-wrapper {
   padding-right: 210px;
}
@media (max-width: 768px) {
	.two-column-header-text-inner .text-wrapper {
		padding-right: 0;
	}
}

.callout-two-column-header-text.margin-bottom-0 {
   margin-bottom: 0;
}
.callout-two-column-header-text.margin-bottom-20 {
   margin-bottom: 20px;
}
.callout-two-column-header-text.margin-bottom-50 {
   margin-bottom: 50px;
}

@media (max-width: 768px) {
   .text-wrapper {
	  padding-right: 0;
   }
   .two-column-header-text-inner .headline-wrapper h2 > br {
	  display: none;
   }
}
